@page
@model SCP2.Pages.Cards

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>
<html>

<head>
    
<title>Зона 19</title>

</head>

<body id="FourthBody">

<main id="FourthMain">

<header id="SecondHeader">

        <img src="source/PageOne/Logo.svg">
    
        <div id="navlist">
    
    <ul>
        <li><a asp-page="./Index"><b>Главная</b></a></li>
    
        <li><a asp-page="./Description">Подробнее</a></li>
    
        <li><a asp-page="./Cards">Объекты на содержании</a></li>
    </ul>
    
        </div> 
</header>

<div class="Block">
    
        <div class="SCPBlockLeft">
        
        <div class="SCPBlockLeftText">
        
        <h1>SCP - 035</h1>
        
        <ul>
            <li>Класс объекта: Кетер</li>
            <li>Зона содержания: Укреплённое крыло U</li>
            <li>Начальник по безопасности: Д-р Гирс</li>
        </ul>
        
        </div>
        
        </div>
        
        <div class="SCPBlockRight">
        
        
        
        </div>
        
</div>

<div class="Block">  

    <div class="SCPBlockLeft">
    
    <div class="SCPBlockLeftText">
    
    <h1>SCP - 035</h1>
    
    <ul>
        <li>Класс объекта: Кетер</li>
        <li>Зона содержания: Укреплённое крыло U</li>
        <li>Начальник по безопасности: Д-р Гирс</li>
    </ul>
    
    </div>
    
    </div>
    
<div class="SCPBlockRight"></div>
    
</div>

</main>

</body>
</html>