@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<title>Зона 19</title>

<div id="SecondMain" />

<div id="firstBlockSupport">

<div id="firstBlock">

<header id="SecondHeader">

        <img src="source/PageOne/Logo.svg">
    
        <div id="navlist">
    
    <ul>
        <li><a asp-page="./Index"><b>Главная</b></a></li>
    
        <li><a asp-page="./Description">Подробнее</a></li>
    
        <li><a asp-page="./Cards">Объекты на содержании</a></li>
    </ul>
    
        </div> 
</header>
    
<div id="firstBlockOpen">

<div id="firstBlockOpenLeft">

    <img src="~/source/PageOne/SiteLogo.svg">

</div>

<div id="firstBlockOpenRight">

    <div id="firstBlockOpenRightText">
    <h1>Зона-19</h1>
    <h3>Крупнейшая действующая зона фонда, содержащая сотни аномалий класса Safe и Euclid. Местоположение засекречено.</h3>
    </div>

</div>

</div>

</div>

</div>

<div id="MainSecond">

<div id="Introduction">

<div id="IntroductionPhoto">

    <img src="~/source/PageOne/IntroductionPhoto.svg">

</div>

<div id="IntroductionText">

    <h3>Зона 19 является одной из ключевых объектных зон Фонда SCP, играющей важную роль в обеспечении безопасности и защите нашего мира от потенциальных угроз и непонятных аномалий. <br> Сотрудники, работающие в Зоне 19, проявляют максимальную преданность и профессионализм, чтобы обеспечить безопасность и надежность в работе с SCP-объектами.</h3>

    <h3>SCP-014, SCP-101, SCP-116, SCP-126, SCP-196 - все описанные объекты содержатся здесь.</h3>
</div>

</div>

<div id="Stage">

<div id="StageOne">

<div class="StageNumber">

<h1>01</h1>

</div>

<div class="StageText">

<h1>Постройка зоны</h1>
<hr>
<ul>
    <li>1941 -  Разработка строительной проектной документации.</li>
    <li>1942 - Подготовка проектно-технической документации.</li>
    <li>1942 - Утверждение проектной документации по объекту “Зона-19”</li>
    <li>1944 - Начало строительных работ</li>
    <li>1944 - Возведение внешнего периметра вокруг Зоны-19</li>
    <li>1945 - Возведение внешних построек вокруг комплекса</li>
    <li>Продолжение...</li>
</ul>

</div>

</div>

<div id="StageTwo" class="StageOtherOne">

    <div class="StageNumber">
    
    <h1>02</h1>
    
    </div>
    
    <div class="StageText">
    
    <h1>Постановка на содержание</h1>
    <hr>
    <ul>
        <li>1992 - SCP-120 поставлен на содержание.</li>
        <li>1993 - SCP-173 поставлен на содержание.</li>
        <br><br>
        <li>Известны лишь 2 (два) объекта с установленной датой постановки на содержание. Данные об остальных объектах [ДАННЫЕ УДАЛЕНЫ], в случае попытки получения доступа будет применен деструктивный мемагент БЕРРИМАНА-ЛЭНГФОРДА.</li>
    </ul>
    
    </div>
    
</div>

<div id="StageThree" class="StageOtherOne">

    <div class="StageNumber">
    
    <h1>03</h1>
    
    </div>
    
    <div class="StageText">
    
    <h1>Персонал комплекса</h1>
    <hr>
    <ul>
        <li>Директор Зоны: [ДАННЫЕ УДАЛЕНЫ]</li>
        <li>Зам. директора Зоны: Д-р Джек Брайт</li>
        <li>Зам. дир. по персоналу: Комитет по этике</li>
        <li>Зам. дир. по вспомогательным службам: агент Наварро</li>
        <li>Зам. дир. по исследованиям: Д-р Гирс</li>
        <li>Продолжение...</li>
    </ul>
    
    </div>
    
</div>

</div>

<div id="Gallery">

<div id="GalleryOpenText">

<h1>Секторы зоны</h1>

</div>

<div id="GalleryAllPhoto">

<div id="GalleryLeftArrow" class="GalleryArrow">

    <img src="~/source/PageOne/ArrowLeft.svg">

</div>

<div id="container">

<div id="Gallery_all">

<div id="GalleryPhoto">
  
<div class="Photo" >

    <img src="~/source/PageOne/GalleryPhotoOne.svg">

    <h3>Офисная зона</h3>

</div>

<div class="Photo">

    <img src="~/source/PageOne/GalleryPhotoTwo.svg">

    <h3>Зона тяжелого содержания</h3>

</div>

</div>

<div id="GalleryPhoto">
  
    <div class="Photo" >
    
        <img src="~/source/PageOne/GalleryPhotoOne.svg">
    
        <h3>Офисная зона</h3>
    
    </div>
    
    <div class="Photo">
    
        <img src="~/source/PageOne/GalleryPhotoTwo.svg">
    
        <h3>Зона тяжелого содержания</h3>
    
    </div>
    
</div>

<div id="GalleryPhoto">
  
        <div class="Photo" >
        
            <img src="~/source/PageOne/GalleryPhotoOne.svg">
        
            <h3>Офисная зона</h3>
        
        </div>
        
        <div class="Photo">
        
            <img src="~/source/PageOne/GalleryPhotoTwo.svg">
        
            <h3>Зона тяжелого содержания</h3>
        
        </div>
        
</div>

</div>
</div>

<div id="GalleryRightArrow" class="GalleryArrow">

    <img src="~/source/PageOne/ArrowRight.svg">

</div>

</div>

</div>

</div>


<aside>
</aside>