<!DOCTYPE html> @*Это шаблон всех страниц (почти всех, кроме авторизации) *@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCP2</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SCP2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>
<body>

<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/script.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>