@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<body id="FirstBody">

<main id="FirstMain">
    <div id="support">

        <div id="MainAuthentication">
            <div id="MainAuthenticationLeft">
                <h1>Войдите в<br> систему фонда</h1>

            </div>

            <div id="MainAuthenticationRight">

                <div id="MainAuthenticationRightAuth">

                    <form method="post" class="text-field" id="account">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input asp-for="Input.Email" class="form-control text-field__input" autocomplete="username" aria-required="true" placeholder="Д-р Харринг">
                        <label asp-for="Input.Email" class="form-label text-field__label ">Email</label>

                        <input asp-for="Input.Password" class="form-control text-field__input" autocomplete="current-password" aria-required="true" placeholder="password">
                        <label asp-for="Input.Password" class="form-label text-field__label">Password</label>

                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary EnterAuth">
                            <p class="qwer">Вход</p></button>
                    </form>

                </div>

            </div>

        </div>
    </div>

</main>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
